@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text1: #d9d9d9;
  --text2: #3c4852;
  --text3: #bebebe;
  --text4: #ffffff;
  --Alert-text1: #de4313;
  --Alert-fill: linear-gradient(to bottom right, #de4313, #fec163);
  --Alert-border: linear-gradient(to bottom right, #de4313, #fec163);
  --disabled: #e7e7e7;
  --success: #47ba68;
  --success2: #d7eddd;
  --danger1: #f77171;
  --danger2: #ff0000;
  --primary1: #0096ff;
  --primary2: linear-gradient(to bottom right, #0048ff, #0096ff);
}

body {
  background: url("./images/bckg.png");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  background: #fff;
  padding: 5px 60px;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.nav-left {
  display: flex;
}

.nav-left ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-left: 50px;
  align-items: center;
}

.nav-left ul li a {
  color: #000;
}

.nav-right ul {
  display: flex;
  position: absolute;
  right: 60px;
  top: 20px;
  gap: 40px;
}

.nav-right ul li a {
  color: #000;
}

.nav-right .join-now {
  text-transform: uppercase;
  padding: 7px 30px;
  border-radius: 52px;
  background: var(--primary2);
  color: var(--text4);
}

.contents {
  position: relative;
  color: #fff;
  display: flex;
  min-height: 110vh;
}

.box1 {
  max-width: 55%;
  padding: 40px 80px;
}

.box1 h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
}

.box1 h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.8rem;
}

.box1 .items {
  align-items: center;
  margin: 30px 0;
  display: flex;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.box1 .items p span {
  color: var(--primary1);
  font-weight: 500;
}

.box1 h2 span {
  color: var(--primary1);
}

.box1 h2 .span-s {
  text-decoration: line-through;
  text-decoration-color: var(--danger2);
  color: #fff;
}

.box2 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  right: 40px;
  background: #fff;
  border-radius: 8px;
  margin: 40px;
  margin-bottom: 40px;
  width: 449px;
  color: var(--text2);
  text-align: center;

}

.btn-box {
  display: flex;
  padding-top: 20px;
  padding-bottom: 15px;
  justify-content: space-evenly;
}

.btn-box .circle {
  display: grid;
  background: var(--primary1);
  color:#fff;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  margin: 0 auto;
}

.box2 h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

.box2 p {
  font-size: 0.8rem;
  font-weight: 400;
}

.box2 label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-left:8px;
}

.box2 .btn-box p{
  font-size: 0.8rem;
  font-weight: 500;
}

.box2 .pay-s {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid var(--text3);
}

.dis-b:before{
  content:'Offer expired';
  position: absolute;
  top:0;
  left:80px;
  font-size:0.6rem;
  background-color: var(--Alert-text1);
  padding:2px 20px;
  border-radius:0 0 4px 4px;
  color:#fff;
}

.pay-s p span{
  font-size: 0.9rem;
  font-weight: 500;
}

.dis{
  color:var(--text3);
}

.dis-b{
  position: relative;
  background-color: var(--disabled);
}

.rec{
  position: relative;
}

.rec::before{
  content:'Recommended';
  position: absolute;
  top:0;
  left:80px;
  font-size:0.6rem;
  background-color: var(--success);
  padding:2px 20px;
  border-radius:0 0 4px 4px;
  color:#fff;
}

.box2 .line {
  margin: 0 25px;
  margin-top: 10px;
  border: 1px solid var(--text3);
}

.box2 .pay-t {
  display: flex;
  gap: 150px;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.pay-t p{
  font-size: 0.9rem;
  font-weight: 500;
}

.pay-t h4 span{
  font-size: 0.9rem;
  font-weight: 400;
}

.pay-u{
  color: var(--Alert-text1);
}


.pay-u h5{
  margin-bottom:4px;
  text-align: left;
}

.pay-u img{
  margin-right:5px;
}


.box2 .btn-c{
  border-radius: 4px;
  border: 2px solid var(--danger1);
  cursor: pointer;
  color:var(--Alert-text1);
  padding: 10px 65px;
}

.box2 .btn-g{
  cursor: pointer;
  border-radius: 4px;
  background: #47BA68;
  color:#fff;
  padding: 10px 42px;
}


.rgp-logo{
  display: grid;
  cursor: pointer;
  justify-content: left;
  padding-bottom: 25px;
  padding-left:30px;
}

.radio-custom{
  position: absolute;
  height:25px;
  opacity: 0;
}

.radio-custom, .radio-custom-label {
  display: block;
  width:100%;
  margin: 10px;
  cursor: pointer;
}

.radio-custom + .radio-custom-label:before {
  content: '';
  border: 2px solid var(--text3);
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 2px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "✓";
  background: var(--success);
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}